<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SnipeBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <SnipeBot.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="GoogleAuthValue" serializeAs="String">
                <value>Auth Token</value>
            </setting>
            <setting name="AuthType" serializeAs="String">
                <value>Ptc</value>
            </setting>
            <setting name="Lat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lng" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Altitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BerriesProbability" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChkBerries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CoordRegex" serializeAs="String">
                <value>([a-zA-Z]{3,40})(?: at)?[^a-zA-HJ-UW-Z]+?(-?\d+.\d+)[,\s;]+(-?\d+.\d+)</value>
            </setting>
        </SnipeBot.Properties.Settings>
    </userSettings>
</configuration>
